.ticket-interface {
  background: linear-gradient(180deg, #1b4332 0%, #2d6a4f 100%);
  color: #d8f3dc;
}

.ticket-interface .back-link {
  color: #95d5b2;
  text-decoration: none;
}

.ticket-interface .back-link:hover {
  color: #fff;
}

.ticket-interface h1 {
  font-size: 2rem;
  font-weight: 600;
}
