.player-interface {
  background: linear-gradient(180deg, #0d1b2a 0%, #1b263b 100%);
  color: #e0e1dd;
}

.player-interface .back-link {
  color: #778da9;
  text-decoration: none;
}

.player-interface .back-link:hover {
  color: #fff;
}

.player-interface h1 {
  font-size: 2rem;
  font-weight: 600;
}
